<app-manutencao
        [acoes]='{ incluir: true, atualizar: true, deletar: true, visualizar: false, pesquisar: true, cancelar: true}'>
    <p-card>
        <div [formGroup]='form'>
            <div class='ui-fluid'>
                <p-fieldset legend='Dados Básicos'>
                    <div class='p-grid p-nogutter'>
                        <div style='margin-left: 1%' class='p-col p-grid'>
                            <div class='p-col-12 p-md-6'>
                                <app-rotulo rotulo='Razão Social'>
                                    <input formControlName='razaoSocial' appAutofocus pInputText type='text'
                                           maxlength='255'/>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12 p-md-6'>
                                <app-rotulo rotulo='Nome Fantasia'>
                                    <input formControlName='nomeFantasia' pInputText type='text'
                                           maxlength='255'/>
                                </app-rotulo>
                            </div>

                            <div class='p-col-6 p-md-3'>
                                <app-rotulo rotulo='CNPJ'>
                                    <p-inputMask formControlName='cnpj'
                                                 mask='99.999.999/9999-99'></p-inputMask>
                                </app-rotulo>
                            </div>
                            <div class='p-col-6 p-md-3'>
                                <app-rotulo rotulo='Inscrição Estadual'>
                                    <input formControlName='inscricaoEstadual' pInputText type='text'
                                           maxlength='20'/>
                                </app-rotulo>
                            </div>
                        </div>
                    </div>
                </p-fieldset>
                
                <p-fieldset legend='Dados de Contato e Endereço'>
                    <div class='p-grid p-nogutter'>
                        <div style='margin-left: 1%' class='p-col p-grid'>
                            <div class='p-col-12 p-md-2'>
                                <app-rotulo rotulo='Telefone'>
                                    <p-inputMask formControlName='telefone' mask='(99) 9999-9999?9'
                                                value='telefone'></p-inputMask>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12 p-md-4'>
                                <app-rotulo rotulo='E-mail'>
                                    <input formControlName='email' pInputText type='text'
                                           maxlength='100'/>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12 p-md-6'>
                                <app-rotulo rotulo='Endereço'>
                                    <input formControlName='endereco' pInputText type='text'
                                           maxlength='255'/>
                                </app-rotulo>
                            </div>
                            <div class='p-col-6 p-md-2'>
                                <app-rotulo rotulo='Número'>
                                    <input formControlName='enderecoNumero' pInputText type='text'
                                           maxlength='20'/>
                                </app-rotulo>
                            </div>
                            <div class='p-col-6 p-md-2'>
                                <app-rotulo rotulo='CEP'>
                                    <p-inputMask formControlName='enderecoCep'
                                                 mask='99999-999'></p-inputMask>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12 p-md-4'>
                                <app-rotulo rotulo='Bairro'>
                                    <input formControlName='enderecoBairro' pInputText type='text'
                                           maxlength='100'/>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12 p-md-4'>
                                <app-rotulo rotulo='Cidade'>
                                    <app-autocomplete url='cidade/pesquisa' dataKey='id'
                                                      label='{nome} - {estado.uf}'
                                                      formControlName='cidade'></app-autocomplete>
                                </app-rotulo>
                            </div>
                        </div>
                    </div>
                </p-fieldset>
                <p-fieldset legend='Dados Gerais'>
                    <div class='p-grid p-nogutter'>
                        <div style='margin-left: 1%' class='p-col p-grid'>
                            <div class='p-col-12 p-md-4'>
                                <app-rotulo rotulo='Número de Colaboradores'>
                                    <p-dropdown formControlName='numeroDeColaboradores' [options]='optionsNumeroDeColaboradores'
                                                [autoDisplayFirst]='true'></p-dropdown>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12 p-md-4'>
                                <app-rotulo rotulo='Área de Atuação'>
                                    <p-dropdown formControlName='areaDeAtuacao' [options]='optionsAreaAtuacao'
                                                [autoDisplayFirst]='true'></p-dropdown>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12 p-md-4'>
                                <app-rotulo rotulo='Ramo de Atuação'>
                                    <p-dropdown formControlName='ramoDeAtuacao' [options]='optionsRamoAtuacao'
                                                [autoDisplayFirst]='true'></p-dropdown>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12 p-md-3'>
                                <app-rotulo rotulo='Nome do Responsável RH'>
                                    <input formControlName='responsavelRH' pInputText type='text'
                                           maxlength='255'/>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12 p-md-3'>
                                <app-rotulo rotulo='Telefone do Responsável RH'>
                                    <p-inputMask formControlName='telefoneResponsavelRH' mask='(99) 9999-9999?9'
                                                value='telefoneResponsavelRH'></p-inputMask>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12 p-md-3'>
                                <app-rotulo rotulo='Nome do Responsável Empresa'>
                                    <input formControlName='responsavelEmpresa' pInputText type='text'
                                           maxlength='255'/>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12 p-md-3'>
                                <app-rotulo rotulo='Telefone do Responsável Empresa'>
                                    <p-inputMask formControlName='telefoneResponsavelEmpresa' mask='(99) 9999-9999?9'
                                                value='telefoneResponsavelEmpresa'></p-inputMask>
                                </app-rotulo>
                            </div>
                        </div>
                    </div>
                </p-fieldset>
            </div>
        </div>
    </p-card>
</app-manutencao>