<app-manutencao
        [acoes]='this.acoes'>
    <p-card>
        <div [formGroup]='form'>
            <div class="ui-fluid">
                <p-fieldset legend="Dados Básicos">
                    <div class="p-grid p-nogutter">
                        <div style="margin-left: 1%" class="p-col p-grid">
                            <div class='p-col-12 p-md-6'>
                                <app-rotulo rotulo='Nome'>
                                    <input formControlName="nome" appAutofocus pInputText type='text'
                                           maxlength="255"/>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12 p-md-6'>
                                <app-rotulo rotulo='Sobrenome'>
                                    <input formControlName="sobrenome" pInputText type='text'
                                           maxlength="255"/>
                                </app-rotulo>
                            </div>

                            <div class='p-col-6 p-md-3'>
                                <app-rotulo rotulo='CPF'>
                                    <p-inputMask formControlName="cpf"
                                                 mask="999.999.999-99"></p-inputMask>
                                </app-rotulo>
                            </div>
                            <div class='p-col-6 p-md-3'>
                                <app-rotulo rotulo='Data de nascimento'>
                                    <app-date-picker formControlName='dataNascimento'>
                                    </app-date-picker>
                                </app-rotulo>
                            </div>
                        </div>
                    </div>
                </p-fieldset>
                
                <p-fieldset legend="Dados de Contato">
                    <div class="p-grid p-nogutter">
                        <div style="margin-left: 1%" class="p-col p-grid">
                            <div class='p-col-12 p-md-3'>
                                <app-rotulo rotulo='Telefone para Contato'>
                                    <p-inputMask formControlName="telefoneCelular" mask="(99) 9999-9999?9"
                                                value="telefoneCelular"></p-inputMask>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12 p-md-9'>
                                <app-rotulo rotulo='Endereço'>
                                    <input formControlName="endereco" pInputText type='text'
                                           maxlength="255"/>
                                </app-rotulo>
                            </div>
                        </div>
                    </div>
                </p-fieldset>
                <p-fieldset legend="Dados de Acesso e Perfil">
                    <div class="p-grid p-nogutter">
                        <div style="margin-left: 1%" class="p-col p-grid">
                            <div class='p-col-12 p-md-6'>
                                <app-rotulo rotulo='E-mail'>
                                    <input formControlName="email" pInputText type='email' maxlength="100"
                                    onblur="this.validarEmail()"
                                           [class.is-invalid]="form.get('email')?.invalid && form.get('email')?.touched"/>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12 p-md-6'>
                                <app-rotulo rotulo='Confirmar E-mail'>
                                    <input formControlName="confirmaremail" pInputText type='email' maxlength="100"
                                           [class.is-invalid]="form.get('email')?.invalid && form.get('email')?.touched"/>
                                </app-rotulo>
                            </div>

                            
                            <div class='p-col-12 p-md-6'>
                                <app-rotulo rotulo='Senha' *ngIf="!idUsuario">
                                    <input formControlName="senha" pInputText type='password' maxlength="100"/>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12 p-md-6'>
                                <app-rotulo rotulo='Confirmar Senha' *ngIf="!idUsuario">
                                    <input formControlName="confirmarsenha" pInputText type='password' maxlength="100"/>
                                </app-rotulo>
                            </div>

                            <div class='p-col-12 p-md-3'>
                                <app-rotulo rotulo='Perfil de Acesso'>
                                    <p-dropdown formControlName="tipoAcesso" [options]='permissoes'
                                                [autoDisplayFirst]='true'></p-dropdown>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12 p-md-6'>
                                <app-rotulo rotulo='Cliente'>
                                    <app-autocomplete url='cliente/pesquisa' dataKey='id'
                                                      label='{razaoSocial}'
                                                      formControlName='cliente'></app-autocomplete>
                                </app-rotulo>
                            </div>
                        </div>
                    </div>
                </p-fieldset>
                <p-fieldset legend="Acessibilidade">
                    <div class="p-grid p-nogutter">
                        <div style="margin-left: 1%" class="p-col p-grid">
                            <div class='p-col-12 p-md-2'>
                                <app-rotulo rotulo='Ativo'>
                                    <p-dropdown formControlName="ativo" [options]='situacoes'
                                                [autoDisplayFirst]='true'></p-dropdown>
                                </app-rotulo>
                            </div>
                        </div>
                    </div>
                </p-fieldset>
                <p-fieldset *ngIf="idUsuario" legend="Alterar Senha">
                    <div [formGroup]='formAlterarSenha'>
                        <div class="p-grid">
                            <div class='p-col-12 p-md-3'>
                                <app-rotulo rotulo='Senha'>
                                    <input formControlName="senha" pInputText type='text' maxlength="16"/>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12 p-md-3' style="display: flex; align-items: center;">
                                <button type="button" pButton (click)="validarSenha(false)" class="ui-button-success"
                                        label="Alterar Senha" icon="pi pi-lock"></button>
                            </div>
                        </div>
                    </div>
                </p-fieldset>
            </div>
        </div>
    </p-card>
</app-manutencao>