<div class='ui-fluid'>
    <div class='p-grid'>
        <div class='p-col-12 p-md-2' *ngIf="pesquisado">
            <button pButton type="button" label="Relatório" icon='fa-light fa-print' (click)="relatorio()"></button>
        </div>
    </div>
</div>
<app-pesquisa [formFiltros]='formFiltros' [service]='usuarioPesquisaService' [colunas]='colunas' [acoes]='{ editar: true, incluir: true, visualizar: true, filtrar: true, pesquisar: true }' placeHolderControles='pesquisar por nome' (pesquisaConcluida)='pesquisaConcluida($event)'>
    <div class='form-filtros'>
        <div [formGroup]='formFiltros'>
            <div class='ui-fluid'>
                <div class='p-grid'>
                    <div class='p-col-12 p-md-4'>
                        <app-rotulo rotulo='Nome'>
                            <input formControlName='nome' pInputText type='text' maxlength="100" />
                        </app-rotulo>
                    </div>
                    <div class='p-col-12 p-md-4'>
                        <app-rotulo rotulo='CPF'>
                            <input formControlName='cpf' pInputText type='text' maxlength="11" />
                        </app-rotulo>
                    </div>
                    <div class='p-col-12 p-md-4'>
                        <app-rotulo rotulo='Permissão de acesso'>
                            <p-dropdown formControlName="grupo" [options]='permissoes' [autoDisplayFirst]='true'></p-dropdown>
                        </app-rotulo>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-pesquisa>