<app-manutencao [acoes]='{ incluir: true, atualizar: true, deletar: true, visualizar: false, pesquisar: true, cancelar: true}'>
    <p-card>
        <div [formGroup]='form'>
            <div class='ui-fluid'>
                <div class='p-grid p-nogutter' *ngIf="this.editando">
                    <div class='p-col-12' style="display: flex; align-content: center; justify-content: flex-start; flex-direction: column;">
                        <p-card header="Vaga {{this.sequencialEmpresa}}"></p-card>
                        <button pButton type="button" label="Imprimir" (click)="abrirRelatorio()" class="ui-button-success" style="width: 100px; height: 30px;"></button>
                    </div>
                </div>
                <p-fieldset legend='Dados da Empresa'>
                    <div class='p-grid p-nogutter'>
                        <div style='margin-left: 1%' class='p-col p-grid'>
                            <div class='p-col-12 p-md-6'>
                                <app-rotulo rotulo='Razão Social'>
                                    <app-autocomplete url='empresa/pesquisa' dataKey='id' appAutofocus
                                                      label='{razaoSocial}'
                                                      formControlName='empresa'></app-autocomplete>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12 p-md-6'>
                                <app-rotulo rotulo='Nome Fantasia'>
                                    <input [value]="this.getNomeFantasia()" pInputText disabled />
                                </app-rotulo>
                            </div>
                            <div class='p-col-12 p-md-3'>
                                <app-rotulo rotulo='CNPJ'>
                                    <input [value]="this.getCnpj()" pInputText disabled />
                                </app-rotulo>
                            </div>
                            <div class='p-col-12 p-md-9'>
                                <app-rotulo rotulo='Endereço'>
                                    <input [value]="this.enderecoCompleto()" pInputText disabled />
                                </app-rotulo>
                            </div>
                        </div>
                    </div>
                </p-fieldset>

                <p-fieldset legend='Dados Básicos'>
                    <div class='p-grid p-nogutter'>
                        <div style='margin-left: 1%' class='p-col p-grid'>
                            <div class='p-col-12 p-md-6'>
                                <app-rotulo rotulo='Nome da função'>
                                    <input formControlName='nomeDaFuncao' pInputText type='text'
                                           maxlength='120'/>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12 p-md-2'>
                                <app-rotulo rotulo='Quantidade de vagas'>
                                    <input formControlName='quantidadeDeVagas' pInputText type='number' min="1"
                                           maxlength='120'/>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12 p-md-2'>
                                <p-checkbox formControlName="vagaSigilosa" label="Vaga Sigilosa" [binary]="true"></p-checkbox>
                            </div>
                            <div class='p-col-12 p-md-2'>
                                <app-rotulo rotulo='Gênero'>
                                    <p-dropdown [(ngModel)]="this.generoSelecionado" formControlName="genero" [options]='opcoesGenero'></p-dropdown>
                                </app-rotulo>
                            </div>
                        </div>
                    </div>
                </p-fieldset>

                <p-fieldset legend='Prazos'>
                    <div class='p-grid p-nogutter'>
                        <div style='margin-left: 1%' class='p-col p-grid'>
                            <div class='p-col-12 p-md-4'>
                                <app-rotulo rotulo='Recrutamento e seleção até'>
                                    <app-date-picker formControlName='dataLimiteSelecao'>
                                    </app-date-picker>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12 p-md-4'>
                                <app-rotulo rotulo='Integração até'>
                                    <app-date-picker formControlName='dataLimiteIntegracao'>
                                    </app-date-picker>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12 p-md-4'>
                                <app-rotulo rotulo='Situação'>
                                    <p-dropdown formControlName="situacao" [options]='opcoesSituacoes'></p-dropdown>
                                </app-rotulo>
                            </div>
                        </div>
                    </div>
                </p-fieldset>

                <p-fieldset legend='Descrição'>
                    <div class='p-grid p-nogutter'>
                        <div style='margin-left: 1%' class='p-col p-grid'>
                            <div class='p-col-12 p-md-12'>
                                <app-rotulo rotulo='Atribuição sumária'>
                                    <textarea maxlength="3000" pInputTextarea formControlName='atribuicaoSumaria' [rows]='10' style="width: 100%; max-width: 100%;"></textarea>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12'>
                                <app-rotulo rotulo='Atividades típicas da função'>
                                    <textarea maxlength="3000" pInputTextarea formControlName='atividadesTipicas' [rows]='10' style="width: 100%; max-width: 100%;"></textarea>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12'>
                                <app-rotulo rotulo='Atividades eventuais da função'>
                                    <textarea maxlength="3000" pInputTextarea formControlName='atividadesEventuais' [rows]='10' style="width: 100%; max-width: 100%;"></textarea>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12'>
                                <app-rotulo rotulo='Nível de autoridade e responsabilidade'>
                                    <textarea maxlength="3000" pInputTextarea formControlName='nivelAutoridadeResponsabilidade' [rows]='10' style="width: 100%; max-width: 100%;"></textarea>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12'>
                                <app-rotulo rotulo='Habilidades e  atitudes necessárias'>
                                    <textarea maxlength="3000" pInputTextarea formControlName='habilidadesNecessarias' [rows]='10' style="width: 100%; max-width: 100%;"></textarea>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12'>
                                <app-rotulo rotulo='Requisitos básicos da função'>
                                    <textarea maxlength="3000" pInputTextarea formControlName='requisitosBasicos' [rows]='10' style="width: 100%; max-width: 100%;"></textarea>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12'>
                                <app-rotulo rotulo='Requisitos desejáveis da função'>
                                    <textarea maxlength="3000" pInputTextarea formControlName='requisitosDesejaveis' [rows]='10' style="width: 100%; max-width: 100%;"></textarea>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12 p-md-3'>
                                <app-rotulo rotulo='Escolaridade'>
                                    <p-dropdown [(ngModel)]="this.escolaridadeSelecionada" formControlName="escolaridade" [options]='opcoesEscolaridade'></p-dropdown>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12'>
                                <app-rotulo rotulo='Cursos obrigatórios'>
                                    <textarea maxlength="3000" pInputTextarea formControlName='cursosObrigatorios' [rows]='10' style="width: 100%; max-width: 100%;"></textarea>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12 p-md-6'>
                                <app-rotulo rotulo='Tipo de Contrato'>
                                    <p-dropdown [(ngModel)]="this.tipoContratoSelecionado" formControlName="tipoContrato" [options]='opcoesTipoContrato'></p-dropdown>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12 p-md-6'>
                                <app-rotulo rotulo='Carga Horária Semanal'>
                                    <input formControlName='cargaHorariaSemanal' pInputText type='number'
                                           maxlength='2'/>
                                </app-rotulo>
                            </div>
                        </div>
                    </div>
                </p-fieldset>

                <p-fieldset legend='Financeiro'>
                    <div class='p-grid p-nogutter'>
                        <div style='margin-left: 1%' class='p-col p-grid'>
                            <div class='p-col-12'>
                                <app-rotulo rotulo='Remuneração:'>
                                    <textarea maxlength="3000" pInputTextarea formControlName='remuneracao' [rows]='10' style="width: 100%; max-width: 100%;"></textarea>
                                </app-rotulo>
                            </div>
                            <div class='p-col-12'>
                                <p-checkbox formControlName="informaComissoesBonus" label="Comissões e Bônus" [binary]="true" (onChange)="changeHabilitaComissoes()"></p-checkbox>
                            </div>
                            <div class='p-col-12'>
                                <app-rotulo rotulo='Descrição:'>
                                    <textarea maxlength="3000" pInputTextarea formControlName='comissoesBonus' [rows]='10' style="width: 100%; max-width: 100%;"></textarea>
                                </app-rotulo>
                            </div>
                            <div class='p-col-4'>
                                <p-checkbox formControlName="valeAlimentacao" label="Vale alimentação" [binary]="true"></p-checkbox>
                            </div>
                            <div class='p-col-4'>
                                <p-checkbox formControlName="valeTransporte" label="Vale transporte" [binary]="true"></p-checkbox>
                            </div>
                            <div class='p-col-4'>
                                <p-checkbox formControlName="valeRefeicao" label="Vale refeição" [binary]="true"></p-checkbox>
                            </div>
                        </div>
                    </div>
                </p-fieldset>

                <p-fieldset legend='Horários'>
                    <div class='p-grid p-nogutter'>
                        <div style='margin-left: 1%' class='p-col p-grid'>
                            <div class='p-col-1' style="display: flex; align-items: center; justify-content: flex-end">
                                <p-checkbox formControlName="trabalhaSegunda" label="Segunda Feira" (onChange)="changeDiasSemana()" [binary]="true"></p-checkbox>
                            </div>
                            <div class='p-col-1' style="display: flex; align-items: center; justify-content: flex-end">
                                <label>Primeiro Turno</label>
                            </div>
                            <div class='p-col-1'>
                                <p-calendar  
                                    id="segundaInicio" 
                                    name="segundaInicio"
                                    [disabled]="this.form.get('trabalhaSegunda').value == false"
                                    formControlName="segundaFeiraInicio"
                                    [timeOnly]="true" hourFormat="24" 
                                    [inline]="false" 
                                    placeholder="Início"></p-calendar>
                            </div>
                            <div class='p-col-1'>
                                <p-calendar  
                                    id="segundaFim" 
                                    name="segundaFim"
                                    [disabled]="this.form.get('trabalhaSegunda').value == false"
                                    formControlName="segundaFeiraFim"
                                    [timeOnly]="true" hourFormat="24" 
                                    [inline]="false" 
                                    placeholder="Fim"></p-calendar>
                            </div>
                            <div class='p-col-1' style="display: flex; align-items: center; justify-content: flex-end">
                                <label>Segundo Turno</label>
                            </div>
                            <div class='p-col-1'>
                                <p-calendar  
                                    id="contraturnoSegundaInicio" 
                                    name="contraturnoSegundaInicio"
                                    [disabled]="this.form.get('trabalhaSegunda').value == false"
                                    formControlName="contraturnoSegundaInicio"
                                    [timeOnly]="true" hourFormat="24" 
                                    [inline]="false" 
                                    placeholder="Início"></p-calendar>
                            </div>
                            <div class='p-col-1'>
                                <p-calendar  
                                    id="contraturnoSegundaFim" 
                                    name="contraturnoSegundaFim"
                                    [disabled]="this.form.get('trabalhaSegunda').value == false"
                                    formControlName="contraturnoSegundaFim"
                                    [timeOnly]="true" hourFormat="24" 
                                    [inline]="false" 
                                    placeholder="Fim"></p-calendar>
                            </div>
                            <div class='p-col-5'>
                                <button pButton type="button" label="Replicar demais dias" (click)="replicarHorarios()"  icon="pi pi-sync" class="ui-button-success" style="width: auto; height: 30px;"></button>
                            </div>

                            <div class='p-col-1' style="display: flex; align-items: center; justify-content: flex-end">
                                <p-checkbox formControlName="trabalhaTerca" label="Terça Feira" (onChange)="changeDiasSemana()" [binary]="true"></p-checkbox>
                            </div>
                            <div class='p-col-1' style="display: flex; align-items: center; justify-content: flex-end">
                                <label>Primeiro Turno</label>
                            </div>
                            <div class='p-col-1'>
                                <p-calendar  
                                    id="tercaInicio" 
                                    name="tercaInicio"
                                    [disabled]="this.form.get('trabalhaTerca').value == false"
                                    formControlName="tercaFeiraInicio"
                                    [timeOnly]="true" hourFormat="24" 
                                    [inline]="false" 
                                    placeholder="Início"></p-calendar>
                            </div>
                            <div class='p-col-1'>
                                <p-calendar  
                                    id="tercaFim" 
                                    name="tercaFim"
                                    [disabled]="this.form.get('trabalhaTerca').value == false"
                                    formControlName="tercaFeiraFim"
                                    [timeOnly]="true" hourFormat="24" 
                                    [inline]="false" 
                                    placeholder="Fim"></p-calendar>
                            </div>
                            <div class='p-col-1' style="display: flex; align-items: center; justify-content: flex-end">
                                <label>Segundo Turno</label>
                            </div>
                            <div class='p-col-1'>
                                <p-calendar  
                                    id="contraturnoTercaInicio" 
                                    name="contraturnoTercaInicio"
                                    [disabled]="this.form.get('trabalhaTerca').value == false"
                                    formControlName="contraturnoTercaInicio"
                                    [timeOnly]="true" hourFormat="24" 
                                    [inline]="false" 
                                    placeholder="Início"></p-calendar>
                            </div>
                            <div class='p-col-1'>
                                <p-calendar  
                                    id="contraturnoTercaFim" 
                                    name="contraturnoTercaFim"
                                    [disabled]="this.form.get('trabalhaTerca').value == false"
                                    formControlName="contraturnoTercaFim"
                                    [timeOnly]="true" hourFormat="24" 
                                    [inline]="false" 
                                    placeholder="Fim"></p-calendar>
                            </div>
                            <div class='p-col-5'></div>

                            <div class='p-col-1' style="display: flex; align-items: center; justify-content: flex-end">
                                <p-checkbox formControlName="trabalhaQuarta" label="Quarta Feira" (onChange)="changeDiasSemana()" [binary]="true"></p-checkbox>
                            </div>
                            <div class='p-col-1' style="display: flex; align-items: center; justify-content: flex-end">
                                <label>Primeiro Turno</label>
                            </div>
                            <div class='p-col-1'>
                                <p-calendar  
                                    id="quartaInicio" 
                                    name="quartaInicio"
                                    [disabled]="this.form.get('trabalhaQuarta').value == false"
                                    formControlName="quartaFeiraInicio"
                                    [timeOnly]="true" hourFormat="24" 
                                    [inline]="false" 
                                    placeholder="Início"></p-calendar>
                            </div>
                            <div class='p-col-1'>
                                <p-calendar  
                                    id="quartaFim" 
                                    name="quartaFim"
                                    [disabled]="this.form.get('trabalhaQuarta').value == false"
                                    formControlName="quartaFeiraFim"
                                    [timeOnly]="true" hourFormat="24" 
                                    [inline]="false" 
                                    placeholder="Fim"></p-calendar>
                            </div>
                            <div class='p-col-1' style="display: flex; align-items: center; justify-content: flex-end">
                                <label>Segundo Turno</label>
                            </div>
                            <div class='p-col-1'>
                                <p-calendar  
                                    id="contraturnoQuartaInicio" 
                                    name="contraturnoQuartaInicio"
                                    [disabled]="this.form.get('trabalhaQuarta').value == false"
                                    formControlName="contraturnoQuartaInicio"
                                    [timeOnly]="true" hourFormat="24" 
                                    [inline]="false" 
                                    placeholder="Início"></p-calendar>
                            </div>
                            <div class='p-col-1'>
                                <p-calendar  
                                    id="contraturnoQuartaFim" 
                                    name="contraturnoQuartaFim"
                                    [disabled]="this.form.get('trabalhaQuarta').value == false"
                                    formControlName="contraturnoQuartaFim"
                                    [timeOnly]="true" hourFormat="24" 
                                    [inline]="false" 
                                    placeholder="Fim"></p-calendar>
                            </div>
                            <div class='p-col-5'></div>

                            <div class='p-col-1' style="display: flex; align-items: center; justify-content: flex-end">
                                <p-checkbox formControlName="trabalhaQuinta" label="Quinta Feira" (onChange)="changeDiasSemana()" [binary]="true"></p-checkbox>
                            </div>
                            <div class='p-col-1' style="display: flex; align-items: center; justify-content: flex-end">
                                <label>Primeiro Turno</label>
                            </div>
                            <div class='p-col-1'>
                                <p-calendar  
                                    id="quintaInicio" 
                                    name="quintaInicio"
                                    [disabled]="this.form.get('trabalhaQuinta').value == false"
                                    formControlName="quintaFeiraInicio"
                                    [timeOnly]="true" hourFormat="24" 
                                    [inline]="false" 
                                    placeholder="Início"></p-calendar>
                            </div>
                            <div class='p-col-1'>
                                <p-calendar  
                                    id="quintaFim" 
                                    name="quintaFim"
                                    [disabled]="this.form.get('trabalhaQuinta').value == false"
                                    formControlName="quintaFeiraFim"
                                    [timeOnly]="true" hourFormat="24" 
                                    [inline]="false" 
                                    placeholder="Fim"></p-calendar>
                            </div>

                            <div class='p-col-1' style="display: flex; align-items: center; justify-content: flex-end">
                                <label>Segundo Turno</label>
                            </div>
                            <div class='p-col-1'>
                                <p-calendar  
                                    id="contraturnoQuintaInicio" 
                                    name="contraturnoQuintaInicio"
                                    [disabled]="this.form.get('trabalhaQuinta').value == false"
                                    formControlName="contraturnoQuintaInicio"
                                    [timeOnly]="true" hourFormat="24" 
                                    [inline]="false" 
                                    placeholder="Início"></p-calendar>
                            </div>
                            <div class='p-col-1'>
                                <p-calendar  
                                    id="contraturnoQuintaFim" 
                                    name="contraturnoQuintaFim"
                                    [disabled]="this.form.get('trabalhaQuinta').value == false"
                                    formControlName="contraturnoQuintaFim"
                                    [timeOnly]="true" hourFormat="24" 
                                    [inline]="false" 
                                    placeholder="Fim"></p-calendar>
                            </div>
                            <div class='p-col-5'></div>

                            <div class='p-col-1' style="display: flex; align-items: center; justify-content: flex-end">
                                <p-checkbox formControlName="trabalhaSexta" label="Sexta Feira" (onChange)="changeDiasSemana()" [binary]="true"></p-checkbox>
                            </div>
                            <div class='p-col-1' style="display: flex; align-items: center; justify-content: flex-end">
                                <label>Primeiro Turno</label>
                            </div>
                            <div class='p-col-1'>
                                <p-calendar  
                                    id="sextaInicio" 
                                    name="sextaInicio"
                                    [disabled]="this.form.get('trabalhaSexta').value == false"
                                    formControlName="sextaFeiraInicio"
                                    [timeOnly]="true" hourFormat="24" 
                                    [inline]="false" 
                                    placeholder="Início"></p-calendar>
                            </div>
                            <div class='p-col-1'>
                                <p-calendar  
                                    id="sextaFim" 
                                    name="sextaFim"
                                    [disabled]="this.form.get('trabalhaSexta').value == false"
                                    formControlName="sextaFeiraFim"
                                    [timeOnly]="true" hourFormat="24" 
                                    [inline]="false" 
                                    placeholder="Fim"></p-calendar>
                            </div>
                            <div class='p-col-1' style="display: flex; align-items: center; justify-content: flex-end">
                                <label>Segundo Turno</label>
                            </div>
                            <div class='p-col-1'>
                                <p-calendar  
                                    id="contraturnoSextaInicio" 
                                    name="contraturnoSextaInicio"
                                    [disabled]="this.form.get('trabalhaSexta').value == false"
                                    formControlName="contraturnoSextaInicio"
                                    [timeOnly]="true" hourFormat="24" 
                                    [inline]="false" 
                                    placeholder="Início"></p-calendar>
                            </div>
                            <div class='p-col-1'>
                                <p-calendar  
                                    id="contraturnoSextaFim" 
                                    name="contraturnoSextaFim"
                                    [disabled]="this.form.get('trabalhaSexta').value == false"
                                    formControlName="contraturnoSextaFim"
                                    [timeOnly]="true" hourFormat="24" 
                                    [inline]="false" 
                                    placeholder="Fim"></p-calendar>
                            </div>
                            <div class='p-col-5'></div>

                            <div class='p-col-1' style="display: flex; align-items: center; justify-content: flex-end">
                                <p-checkbox formControlName="trabalhaSabado" label="Sábado" (onChange)="changeDiasSemana()" [binary]="true"></p-checkbox>
                            </div>
                            <div class='p-col-1' style="display: flex; align-items: center; justify-content: flex-end">
                                <label>Primeiro Turno</label>
                            </div>
                            <div class='p-col-1'>
                                <p-calendar  
                                    id="sabadoInicio" 
                                    name="sabadoInicio"
                                    [disabled]="this.form.get('trabalhaSabado').value == false"
                                    formControlName="sabadoInicio"
                                    [timeOnly]="true" hourFormat="24" 
                                    [inline]="false" 
                                    placeholder="Início"></p-calendar>
                            </div>
                            <div class='p-col-1'>
                                <p-calendar  
                                    id="sabadoFim" 
                                    name="sabadoFim"
                                    [disabled]="this.form.get('trabalhaSabado').value == false"
                                    formControlName="sabadoFim"
                                    [timeOnly]="true" hourFormat="24" 
                                    [inline]="false" 
                                    placeholder="Fim"></p-calendar>
                            </div>
                            <div class='p-col-1' style="display: flex; align-items: center; justify-content: flex-end">
                                <label>Segundo Turno</label>
                            </div>
                            <div class='p-col-1'>
                                <p-calendar  
                                    id="contraturnoSabadoInicio" 
                                    name="contraturnoSabadoInicio"
                                    [disabled]="this.form.get('trabalhaSabado').value == false"
                                    formControlName="contraturnoSabadoInicio"
                                    [timeOnly]="true" hourFormat="24" 
                                    [inline]="false" 
                                    placeholder="Início"></p-calendar>
                            </div>
                            <div class='p-col-1'>
                                <p-calendar  
                                    id="contraturnoSabadoFim" 
                                    name="contraturnoSabadoFim"
                                    [disabled]="this.form.get('trabalhaSabado').value == false"
                                    formControlName="contraturnoSabadoFim"
                                    [timeOnly]="true" hourFormat="24" 
                                    [inline]="false" 
                                    placeholder="Fim"></p-calendar>
                            </div>
                            <div class='p-col-5'></div>

                            <div class='p-col-1' style="display: flex; align-items: center; justify-content: flex-end">
                                <p-checkbox formControlName="trabalhaDomingo" label="Domingo" (onChange)="changeDiasSemana()" [binary]="true"></p-checkbox>
                            </div>
                            <div class='p-col-1' style="display: flex; align-items: center; justify-content: flex-end">
                                <label>Primeiro Turno</label>
                            </div>
                            <div class='p-col-1'>
                                <p-calendar  
                                    id="domingoInicio" 
                                    name="domingoInicio"
                                    [disabled]="this.form.get('trabalhaDomingo').value == false"
                                    formControlName="domingoInicio"
                                    [timeOnly]="true" hourFormat="24" 
                                    [inline]="false" 
                                    placeholder="Início"></p-calendar>
                            </div>
                            <div class='p-col-1'>
                                <p-calendar  
                                    id="domingoFim" 
                                    name="domingoFim"
                                    [disabled]="this.form.get('trabalhaDomingo').value == false"
                                    formControlName="domingoFim"
                                    [timeOnly]="true" hourFormat="24" 
                                    [inline]="false" 
                                    placeholder="Fim"></p-calendar>
                            </div>
                            <div class='p-col-1' style="display: flex; align-items: center; justify-content: flex-end">
                                <label>Segundo Turno</label>
                            </div>
                            <div class='p-col-1'>
                                <p-calendar  
                                    id="contraturnoDomingoInicio" 
                                    name="contraturnoDomingoInicio"
                                    [disabled]="this.form.get('trabalhaDomingo').value == false"
                                    formControlName="contraturnoDomingoInicio"
                                    [timeOnly]="true" hourFormat="24" 
                                    [inline]="false" 
                                    placeholder="Início"></p-calendar>
                            </div>
                            <div class='p-col-1'>
                                <p-calendar  
                                    id="contraturnoDomingoFim" 
                                    name="contraturnoDomingoFim"
                                    [disabled]="this.form.get('trabalhaDomingo').value == false"
                                    formControlName="contraturnoDomingoFim"
                                    [timeOnly]="true" hourFormat="24" 
                                    [inline]="false" 
                                    placeholder="Fim"></p-calendar>
                            </div>
                            <div class='p-col-5'></div>
                        </div>
                    </div>
                </p-fieldset>
            </div>
        </div>
    </p-card>
</app-manutencao>

<p-card id="teste" [ngStyle]="{display: 'none'}" *ngIf="this.registroRelatorio != null && this.registroRelatorio.empresa != null">
    <div id="relatorio" style="background-color: white;">
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Relatório de Vaga</title>
            <style>
                body {
                    font-family: Arial, sans-serif;
                    margin-left: 20px;
                    margin-right: 20px;
                    margin-bottom: 50px;
                }
                .header {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    font-size: 45px;
                    margin-bottom: 20px;
                }
                .section {
                    margin-bottom: 20px;
                }
                .section-title {
                    font-size: 30px;
                    font-weight: bold;
                    margin-bottom: 5px;
                }
                .section-content {
                    font-size: 24px;
                    border: 1px solid #ccc;
                    padding: 10px;
                }
            </style>
        </head>
        <body>
            <div id="relatorio" style="background-color: white;">
            <div class="header">
                <img src="assets/imagens/logo.png" style="max-width:300px;max-height:300px" />
                <span>Relatório de Vaga</span>
            </div>
            <div class="section">
                <div class="section-title">Dados Gerais</div>
                <div class="section-content">
                    <div><b>Empresa:</b> {{this.registroRelatorio.empresa.razaoSocial}}</div>
                    <div><b>Nome da Função:</b> {{this.registroRelatorio.nomeDaFuncao}}</div>
                    <div><b>Quantidade de Vagas:</b> {{this.registroRelatorio.quantidadeDeVagas ? this.registroRelatorio.quantidadeDeVagas : 'Não Informado'}}</div>
                    <div><b>Vaga Sigilosa:</b> {{this.registroRelatorio.vagaSigilosa ? 'Sim' : 'Não' }}</div>
                    <div><b>Gênero:</b> {{this.registroRelatorio.generoFormatado}}</div>
                    <div><b>Data de Inclusão:</b> {{this.registroRelatorio.dataInclusaoFormatado}}</div>
                </div>
            </div>
            <div class="section" style="background-color: white;">
                <div class="section-title">Prazos</div>
                <div class="section-content">
                    <div><b>Data Limite de Seleção:</b> {{this.registroRelatorio.dataLimiteSelecaoFormatado}}</div>
                    <div><b>Data Limite de Integração:</b> {{this.registroRelatorio.dataLimiteIntegracaoFormatado}}</div>
                    <div><b>Situação:</b> {{this.registroRelatorio.situacaoFormatado}}</div>
                </div>
            </div>
            <div class="section" style="background-color: white;">
                <div class="section-title">Descrição</div>
                <div class="section-content">
                    <div><b>Atribuição Sumária: </b> {{this.registroRelatorio.atribuicaoSumaria}}</div>
                    <div><b>Atividades Típicas: </b> {{this.registroRelatorio.atividadesTipicas}}</div>
                    <div><b>Atividades Eventuais: </b> {{this.registroRelatorio.atividadesEventuais}}</div>
                    <div><b>Nível de Autoridade e Responsabilidade: </b> {{this.registroRelatorio.nivelAutoridadeResponsabilidade}}</div>
                    <div><b>Habilidades Necessárias: </b> {{this.registroRelatorio.habilidadesNecessarias}}</div>
                    <div><b>Requisitos Básicos: </b> {{this.registroRelatorio.requisitosBasicos}}</div>
                    <div><b>Requisitos Desejáveis: </b> {{this.registroRelatorio.requisitosDesejaveis}}</div>
                    <div><b>Escolaridade: </b> {{this.registroRelatorio.escolaridadeFormatado}}</div>
                    <div><b>Cursos Obrigatórios: </b> {{this.registroRelatorio.cursosObrigatorios}}</div>
                    <div><b>Tipo de Contrato: </b> {{this.registroRelatorio.tipoContratoFormatado}}</div>
                    <div><b>Carga Horária Semanal: </b> {{this.registroRelatorio.cargaHorariaSemanal}}</div>
                    <div><b>Remuneração: </b> {{this.registroRelatorio.remuneracao}}</div>
                    <div><b>Comissões e Bônus: </b> {{this.registroRelatorio.informaComissoesBonus ? this.registroRelatorio.comissoesBonus : 'Não informado'}}</div>
                    <div><b>Vale Alimentação: </b> {{this.registroRelatorio.valeAlimentacao ? 'Sim' : 'Não'}}</div>
                    <div><b>Vale Transporte: </b> {{this.registroRelatorio.valeTransporte ? 'Sim' : 'Não'}}</div>
                    <div><b>Vale Refeição: </b> {{this.registroRelatorio.valeRefeicao ? 'Sim' : 'Não'}}</div>
                </div>
            </div>
            <div class="section" style="background-color: white;">
                <div class="section-title">Dias da Semana</div>
                <div class="section-content">
                <div><b>Segunda-Feira:</b></div>
                <div>Primeiro Turno: {{this.registroRelatorio.trabalhaSegunda ? this.registroRelatorio.segundaFeiraInicioFormatado + ' - ' + this.registroRelatorio.segundaFeiraFimFormatado : 'Não'}} |
                Segundo Turno: {{this.registroRelatorio.trabalhaSegunda ?this.registroRelatorio.contraTurnoSegundaFeiraInicioFormatado + ' - ' + this.registroRelatorio.contraTurnoSegundaFeiraFimFormatado : 'Não'}}</div>
                
                <div><b>Terça-Feira:</b></div>
                <div>Primeiro Turno: {{this.registroRelatorio.trabalhaTerca ? this.registroRelatorio.tercaFeiraInicioFormatado+ ' - ' + this.registroRelatorio.tercaFeiraInicioFormatado : 'Não'}} |
                Segundo Turno: {{this.registroRelatorio.trabalhaTerca ? this.registroRelatorio.contraTurnoTercaFeiraInicioFormatado+ ' - ' + this.registroRelatorio.contraTurnoTercaFeiraFimFormatado : 'Não'}}</div>
                
                <div><b>Quarta-Feira:</b></div>
                <div>Primeiro Turno: {{this.registroRelatorio.trabalhaQuarta ? this.registroRelatorio.quartaFeiraInicioFormatado+ ' - ' + this.registroRelatorio.quartaFeiraFimFormatado : 'Não'}} |
                Segundo Turno: {{this.registroRelatorio.trabalhaQuarta ? this.registroRelatorio.contraTurnoQuartaFeiraInicioFormatado+ ' - ' + this.registroRelatorio.contraTurnoQuartaFeiraFimFormatado : 'Não'}}</div>
        
                <div><b>Quinta-Feira:</b></div>
                <div>Primeiro Turno: {{this.registroRelatorio.trabalhaQuinta ? this.registroRelatorio.quintaFeiraInicioFormatado+ ' - ' + this.registroRelatorio.quintaFeiraFimFormatado : 'Não'}} |
                Segundo Turno: {{this.registroRelatorio.trabalhaQuinta ? this.registroRelatorio.contraTurnoQuintaFeiraInicioFormatado+ ' - ' + this.registroRelatorio.contraTurnoQuintaFeiraFimFormatado : 'Não'}}</div>
        
                <div><b>Sexta-Feira:</b></div>
                <div>Primeiro Turno: {{this.registroRelatorio.trabalhaSexta ? this.registroRelatorio.sextaFeiraInicioFormatado+ ' - ' + this.registroRelatorio.sextaFeiraFimFormatado : 'Não'}} |
                Segundo Turno: {{this.registroRelatorio.trabalhaSexta ? this.registroRelatorio.contraTurnoSextaFeiraInicioFormatado+ ' - ' + this.registroRelatorio.contraTurnoSextaFeiraFimFormatado : 'Não'}}</div>
        
                <div><b>Sábado:</b></div>
                <div>Primeiro Turno: {{this.registroRelatorio.trabalhaSabado ? this.registroRelatorio.sabadoInicioFormatado+ ' - ' + this.registroRelatorio.sabadoFimFormatado : 'Não'}} |
                Segundo Turno: {{this.registroRelatorio.trabalhaSabado ? this.registroRelatorio.contraTurnoSabadoInicioFormatado+ ' - ' + this.registroRelatorio.contraTurnoSabadoFimFormatado : 'Não'}}</div>
        
                <div><b>Domingo:</b></div>
                <div>Primeiro Turno: {{this.registroRelatorio.trabalhaDomingo ? this.registroRelatorio.domingoInicioFormatado+ ' - ' + this.registroRelatorio.domingoFimFormatado : 'Não'}} | 
                Segundo Turno: {{this.registroRelatorio.trabalhaDomingo ? this.registroRelatorio.contraTurnoDomingoInicioFormatado+ ' - ' + this.registroRelatorio.contraTurnoDomingoFimFormatado : 'Não'}}</div>
                </div>
            </div>
            <div class="section" style="background-color: white;">
                <div class="section-content">
                    <div><b>Impresso por:</b> {{this.autenticacaoService.loginInfo.usuario.nome + " " + this.autenticacaoService.loginInfo.usuario.sobrenome}}</div>
                    <div>Em: {{this.dataHoraAtual}}</div>
                </div>
            </div>
            </div>
        </body>
        </html>
    </div>
    
</p-card>